<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container-md d-flex justify-content-center">
    <h1>Offers</h1>
</div>

<div class="container-md d-flex justify-content-center">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Model</th>
            <th scope="col">User</th>
            <th scope="col">Year</th>
            <th scope="col">Transmission</th>
            <th scope="col">Meleage</th>
            <th scope="col">Engine</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th scope="col">Image</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="align-middle">
        <tr th:each="offer : ${allOffers}">
            <td th:text="${offer.modelName}"></td>
            <td th:text="${offer.userName}"></td>
            <td th:text="${offer.year}"></td>
            <td th:text="${offer.transmissionEnum}"></td>
            <td th:text="${offer.mileage}"></td>
            <td th:text="${offer.engineEnum}"></td>
            <td th:text="${offer.price}"></td>
            <td th:text="${offer.description}"></td>
            <td th:text="${offer.created}"></td>
            <td th:text="${offer.modified}"></td>
            <td><img th:src="${offer.imageURL}" alt="Photo" width="300" height="200"></td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container-md d-flex justify-content-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Offer
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Adding user</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/offers/add}"
                          th:method="post"
                          th:object="${offersModel}">

                        <div class="mb-3">
                            <label for="model" class="col-form-label">Model</label>
                            <select class="form-select" aria-label="Default select example" id="model" th:field="*{modelName}" th:errorclass="is-invalid">
                                <option
                                        th:each="o : ${availableModels}"
                                        th:value="${o.name}"
                                        th:text="${o.name}">
                                </option>
                            </select>
                            <p th:if="${#fields.hasErrors('modelName')}" th:errors="*{modelName}">Error message</p>
                        </div>

                        <div class="mb-3">
                            <label for="user" class="col-form-label">User</label>
                            <select class="form-select" aria-label="Default select example" id="user" th:field="*{userName}" th:errorclass="is-invalid">
                                <option
                                        th:each="u : ${availableUsers}"
                                        th:value="${u.userName}"
                                        th:text="${u.userName}">
                                </option>
                            </select>
                            <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Error message</p>
                        </div>

                        <fieldset class="mb-3">
                            <legend>Choose Engine type</legend>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input th:field="*{engineEnum}"
                                           th:value="GASOLINE"
                                           th:errorclass="is-invalid"
                                           type="radio" class="form-check-input" name="educationLevel"/>
                                    <span>Gasoline</span>
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <label class="form-check-label">
                                    <input th:field="*{engineEnum}"
                                           th:value="DIESEL"
                                           th:errorclass="is-invalid"
                                           type="radio" class="form-check-input" name="educationLevel"/>
                                    <span>Diesel</span>
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <label class="form-check-label">
                                    <input th:field="*{engineEnum}"
                                           th:value="ELECTRIC"
                                           th:errorclass="is-invalid"
                                           type="radio" class="form-check-input " name="educationLevel"/>
                                    <span>Electric</span>
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <label class="form-check-label">
                                    <input th:field="*{engineEnum}"
                                           th:value="HYBRID"
                                           th:errorclass="is-invalid"
                                           type="radio" class="form-check-input" name="educationLevel"/>
                                    <span>Hybrid</span>
                                </label>
                            </div>
                            <small th:if="${#fields.hasErrors('engineEnum')}" th:errors="*{engineEnum}"
                                   class="text-danger">Error message</small>
                        </fieldset>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description</label>
                            <input type="text" class="form-control" id="description" th:field="*{description}" th:errorclass="is-invalid">
                            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error message</p>
                        </div>

                        <fieldset class="mb-3">
                            <legend>Choose Transmission type</legend>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input th:field="*{transmissionEnum}"
                                           th:value="MANUAL"
                                           th:errorclass="is-invalid"
                                           type="radio" class="form-check-input" name="transmissionEnum"/>
                                    <span>Manual</span>
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <label class="form-check-label">
                                    <input th:field="*{transmissionEnum}"
                                           th:value="AUTOMATIC"
                                           th:errorclass="is-invalid"
                                           type="radio" class="form-check-input" name="transmissionEnum"/>
                                    <span>Automatic</span>
                                </label>
                            </div>
                            <small th:if="${#fields.hasErrors('transmissionEnum')}" th:errors="*{transmissionEnum}"
                                   class="text-danger">Error message</small>
                        </fieldset>

                        <div class="mb-3">
                            <label for="mileage" class="col-form-label">Mileage</label>
                            <input type="number" class="form-control" id="mileage" th:field="*{mileage}" th:errorclass="is-invalid">
                            <p th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}">Error message</p>
                        </div>

                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price</label>
                            <input type="number" class="form-control" id="price" th:field="*{price}" th:errorclass="is-invalid">
                            <p th:if="${#fields.hasErrors('mileage')}" th:errors="*{price}">Error message</p>
                        </div>

                        <div class="mb-3">
                            <label for="endYear" class="col-form-label">Year</label>
                            <input type="number" class="form-control" id="endYear" th:field="*{year}" th:errorclass="is-invalid">
                            <p th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Error message</p>
                        </div>

                        <div class="mb-3">
                            <label for="url" class="col-form-label">Image URL</label>
                            <input type="text" class="form-control" id="url" th:field="*{imageURL}" th:errorclass="is-invalid">
                        </div>

                        <button type="submit" class="btn btn-primary">Add Model</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    document.addEventListener('Loaded', function() {
        var today = new Date();
        var modifiedField = document.getElementById('modified');
        var formattedDate = today.toISOString().substring(0, 16);
        modifiedField.value = formattedDate;
    });
</script>

<script th:inline="javascript">
    document.addEventListener('Loaded', function() {
        var today = new Date();
        var modifiedField = document.getElementById('created');
        var formattedDate = today.toISOString().substring(0, 16);
        modifiedField.value = formattedDate;
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>